/* CSS version 1.0 https: //github.com/stadium-software/icons */
:is(div.stadium-icon, td.stadium-icon, a.stadium-icon, span.stadium-icon, button.stadium-icon) {
    display: inline-flex;
    align-items: center;
    justify-items: center;

    > button,
    > a,
    > span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 4px 0;
        
        &:has(> span:empty) {
            gap:0;
        }

         > span {
            order: 2;
            line-height: 1;
        }

         > iconify-icon {
            color: var(--stadium-default-icon-color, var(--BODY-FONT-COLOR));
            order: 1;
            line-height: 1;
        }
    }

    a.btn-link:hover {
        text-decoration: none;
    }

    &:is(td) {
        display: table-cell;

        button:hover {
            text-decoration: none;
        }
    }
}
.icon-bottom,
.stadium-icon.icon-bottom {

    button,
    a,
    span {
        flex-direction: column;
        gap: 4px 0;

        > span {
            order: 1;
        }

        > iconify-icon {
            order: 2;
        }
    }
}

.icon-left,
.stadium-icon.icon-left {

    button,
    a,
    span {
        flex-direction: row;
        gap: 0 4px;

        > span {
            order: 2;
        }

        > iconify-icon {
            order: 1;
        }
    }
}

.icon-right,
.stadium-icon.icon-right {

    button,
    a,
    span {
        flex-direction: row;
        gap: 0 4px;

        > span {
            order: 1;
        }

        > iconify-icon {
            order: 2;
        }
    }
}
