/*---Icons---*/
.material-symbols-outlined,
.material-symbols-sharp,
.material-symbols-rounded {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-display: block;
}

a.btn-link:hover {
    text-decoration: none;
}

a.btn-link:hover>*:not(.material-symbols-outlined, .material-symbols-sharp, .material-symbols-rounded) {
    text-decoration: underline;
}

div[class^="icon-symbol-"],
div[class*=" icon-symbol-"] {
    display: flex;
    align-items: center;
    justify-items: center;

    &>button,
    &>a,
    &>span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        &>span {
            order: 2;
            font-size: 12px;
            line-height: 1;
        }

        &>i {
            color: var(--stadium-icon-color);
            order: 1;
            font-size: 20px;
            line-height: 1;
        }
    }
}

:is(td[class^="icon-symbol-"]),
:is(td[class*=" icon-symbol-"]) {
    display: table-cell;

    & button:hover {
        text-decoration: none;
    }
}

.icon-left {
    &>button,
    &>a,
    &>span {
        flex-direction: row;
        gap: 0 4px;

        &>span {
            order: 2;
            font-size: 12px;
        }

        &>i {
            order: 1;
            font-size: 16px;
        }
    }
}

.icon-right {
    &>button,
    &>a,
    &>span {
        flex-direction: row;
        gap: 0 4px;

        &>span {
            order: 1;
            font-size: 12px;
        }

        &>i {
            order: 2;
            font-size: 16px;
        }
    }
}

.icon-weight-900 [class^="material-symbols-"],
.icon-weight-900 [class*=" material-symbols-"] {
    font-weight: 900;
}

.icon-weight-800 [class^="material-symbols-"],
.icon-weight-800 [class*=" material-symbols-"] {
    font-weight: 800;
}

.icon-weight-700 [class^="material-symbols-"],
.icon-weight-700 [class*=" material-symbols-"] {
    font-weight: 700;
}

.icon-weight-600 [class^="material-symbols-"],
.icon-weight-600 [class*=" material-symbols-"] {
    font-weight: 600;
}

.icon-weight-500 [class^="material-symbols-"],
.icon-weight-500 [class*=" material-symbols-"] {
    font-weight: 500;
}

.icon-weight-300 [class^="material-symbols-"],
.icon-weight-300 [class*=" material-symbols-"] {
    font-weight: 300;
}

.icon-weight-200 [class^="material-symbols-"],
.icon-weight-200 [class*=" material-symbols-"] {
    font-weight: 200;
}

.icon-weight-100 [class^="material-symbols-"],
.icon-weight-100 [class*=" material-symbols-"] {
    font-weight: 100;
}

.icon-fill [class^="material-symbols-"],
.icon-fill [class*=" material-symbols-"] {
    font-variation-settings: 'FILL' 1;
}